:host {
  box-sizing: border-box;
  display: block;
  transform: rotateX(12deg);
 transform-style: preserve-3d;
  border-radius: 8px;
  margin: 0 auto;
  width: min-content;
  position: relative;
  overflow: hidden;
  display: grid;
  // gap: 8px;
  // padding: 8px 8px 0;
  padding: 12px;
  grid-template-areas:
    "viz eq dk"
    "adsr adsr dk"
    "piano piano  wave"
    ;

    justify-items: center;
    align-items: center;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  select {
    margin: 0 auto;
  }

  svg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    grid-area: wave;
    gap: 16px;
    width: min-content;
    input {
      outline: none;
    }
    label:has(input:checked) {
      color: orange;
      font-weight: bold;
    }
    label:focus-within {
      outline: focus-outline;
    }
  }

  csd-visualizer {
    grid-area: viz;
  }
  csd-equalizer {
    grid-area: eq;
  }
  csd-adsr {
    grid-area: adsr;
  }

  csd-piano {
    // padding-top: 16px;
    margin-bottom: -32px;
    grid-area: piano;
  }
  csd-drum-kit {
    grid-area: dk;
  }
  .sr-only {
    display: block;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    flex: 0 0 0;
  }
}
