:host {
    box-sizing: border-box;
    display: grid;
    transform: rotateX(12deg);
    border-radius:8px;
    margin: 0 auto;
    width: 750px;
    position: relative;
    overflow: hidden;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    select {
        margin: 0 auto;
    }

    svg{
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    
    
}