@use "sass:math";
$csd-piano-key-height: 200px;
$csd-piano-key-width: 60px;
$csd-piano-key-sharp-height: $csd-piano-key-height * 0.7;
$csd-piano-key-sharp-width: 44px;

$csd-piano-key-perspective: 9999px;
:host {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // transform: rotateX(15deg);
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .csd-piano-key {
    height: $csd-piano-key-height;
    width: $csd-piano-key-width;
    background: #eee;
    // text-orientation: sideways;
    // writing-mode: vertical-lr;
    // text-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    padding-bottom: 8px;
    outline: none;
    border-top: none;
    transform-style: preserve-3d;
    transform-origin: top;
    border-color: transparent;

  
    transform: perspective($csd-piano-key-perspective) rotateX(0deg);
    transition: all 80ms linear;
    box-shadow: 0px 8px #ccc;
    margin-inline: 1px;
    border-bottom: none;

    &:hover {
      transform: perspective($csd-piano-key-perspective) rotateX(-2.5deg);
    }
    &.active,
    &:active {
      transform: perspective($csd-piano-key-perspective) rotateX(-5deg);
      box-shadow: 0px 7px #ccc;
    }
  }

  kbd {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 1;
  }

  .csd-piano-key-sharp {
    position: relative;
    background: #333;
    color: #eee;
    height: $csd-piano-key-sharp-height;
    width: $csd-piano-key-sharp-width;
    margin-inline: math.div($csd-piano-key-sharp-width, -2) ;
    z-index: 1;
    box-shadow: 0px 8px #444;

    &.active,
    &:active {

      box-shadow: 0px 7px #222;

  
    }
  }
}
