:host {
  box-sizing: border-box;
  display: flex;
  width: 256px;
  height: auto;
  aspect-ratio: 5/4;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  canvas {
    width: 100%;
    // border-radius: 30px / 20px;
    // border: 4px solid #454;
    // border-top-color: #565;
  }
}
