:host {
    box-sizing: border-box;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    gap: .5rem;
    // padding: 1rem;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    input[type="text"] {
        width: 2.5rem;
        text-align: center;
        margin: 0;

    }

    input[type="range"] {
        width: 5rem;
    }

    .sr-only {
        display: block;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        margin: -1px !important; // Fix for https://github.com/twbs/bootstrap/issues/25686
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
    }

    canvas {
        width: 100px;
        height: 100px;
    }
}